
.funnel-container {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch; 
  touch-action: pan-x; 
  cursor: grab;
}


.funnel-container::-webkit-scrollbar {
  display: none;
}


.custom-scrollbar {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 20px;
  height: 100%; 
  background-color: rgba(0, 0, 0, 0.1); 
  border-radius: 4px;
  z-index: 10; 
}


.custom-scrollbar-thumb {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #ccc;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}


.custom-scrollbar-thumb:hover {
  background-color: #aaa;
}